body {
    background-color: #fafafa;
}

a:hover {
    color: #6c6c6c !important;
}


/* 导航栏 */

.logo {
    float: left;
    
}

.logo img {
    width: 180px;
    height: 63px;
    margin-top: 20px;
}

.nav {
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.nav a {
    color: #6c6c6c;
}



.logo {
    float: left;
    margin-left: 47px;
}
.logo img {
    width: 180px;
    height: 63px;
    margin-top: 20px;
}
.nav {
    float: left;
    margin-top: 33px;   
    margin-left: 50px;
    margin-bottom: 30px;
}
.nav a {
    color: #6c6c6c;
}


/* 红色导航栏 */

.nav1-wrapper {
    background-color: #ed445b;
    width: 100%;
    height: 44px;
    z-index: 1;
    margin-top: 105px;
}

.nav1 {
    width: 1297px;
    margin: 0 auto;
    display: flex;
    padding-left: 0 !important;
    margin-left: 354px;
}

.nav1 a {
    display: inline-block;
    width: 100px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: normal; 
}
.nav1 > a:hover {
    color: #ffffff !important; 
    background-color: #c82e48; 
    text-decoration: none !important; 
    font-weight: normal !important; 
}

.focus1 {
    background-color: #d53758;
    font-weight: normal; 
}

.nav1 li {
    display: inline-block;
    height: 44px;
    line-height: 40px;
    padding: 0 18px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}


/* 首页内容 */

.banner-group {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

.banner {
    float: left;
    width: 546px;
    height: 271px;
}

.float {
    float: left;
    width: 581px;
    height: 270px;
    border: 1px solid #f6f6f6;
    padding-left: 30px;
    padding-right: 20px;
}

.title2 {
    color: #111;
    font-size: 24px;
    line-height: 56px;
    margin-top: 4px;
}

.desc {
    color: #686868;
    font-size: 16px;
    line-height: 30px;
}

.icon-group {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 25px 0;
    max-width: 100%;
}

.icon-svg {
    display: block;
    margin: 0 auto;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}


/* 首页小版块内容 */

.banner-group {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

.goods-group {
    width: 1200px;
    margin: 35px auto 0;
}

.goods-wrapper {
    overflow: hidden;
    margin-right: -30px;
}

.goods {
    background-color: #fff;
    float: left;
    margin: 0 30px 30px 0;
    width: 276px;
    height: 394px;
    position: relative;
}

.img {
    width: 220px;
    height: 220px;
    margin: 28px auto;
}

.qrcode {
    position: absolute;
    left: 28px;
    top: 28px;
    width: 220px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.6);
}

.qrcode img {
    margin-top: 20px;
    margin-bottom: 0px;
    width: 160px;
    height: auto;
}

.qrcode-text {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.title {
    color: #686868;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
    margin: 0 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price {
    padding: 30px 15px 20px 15px;
    line-height: 22px;
}

.group-price {
    color: #111;
    font-size: 21px;
}

.market-price {
    color: #cbcbcb;
    font-size: 17px;
    text-decoration: line-through;
}

.count {
    float: right;
    color: #9c9c9c;
    font-size: 15px;
}

.goods-discount-container {
    background-color: #fff;
    padding: 60px 60px;
}

.goods-discount-container-text {
    color: #999;
    font-size: 22px;
    text-align: center;
}


/* 结尾 */

.pdd-foot {
    background-color: #fff;
    padding-top: 60px;
    position: relative;
    width: 100%;
    min-width: 1200px;
}

.pdd-foot-head {
    color: #4d4d4d;
    font-size: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1000px;
    clear: both;
}


/* 第一层二维码 */

.qrcode2-group {
    float: left;
    width: 666px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.qrcode2 {
    width: 162px;
    height: 162px;
    margin-right: 60px;
    vertical-align: text-top;
}

.qrcode2 img {
    width: 100%;
}

.qrcode2 p {
    margin: 8px auto;
    color: #4d4d4d;
    font-size: 16px;
    text-align: center;
}

.contact2-info {
    margin-left: 666px;
    padding-left: 45px;
    width: 470px;
    border-left: 1px solid #4d4d4d;
}

.pdd-foot-head {
    color: #4d4d4d;
    font-size: 0;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 1000px;
    clear: both;
}


/* 第一层文本 */

.foot-title {
    color: #4d4d4d;
    font-size: 24px;
    line-height: 24px;
}

.detail {
    color: #4d4d4d;
    font-size: 15px;
    line-height: 16px;
    margin-top: 20px;
}

.detail:last-child {
    margin-block-end: 0;
}


/* 第二层文本 */

.pdd-bottom-nav {
    font-size: 0;
    margin: 0 auto;
    margin-bottom: 58px;
    margin-top: 60px;
    max-width: 1200px;
    position: relative;
    text-align: center;
    width: 100%;
}

.pdd-bottom-nav {
    font-size: 0;
    margin: 0 auto;
    margin-bottom: 58px;
    margin-top: 60px;
    max-width: 1200px;
    position: relative;
    text-align: center;
    width: 100%;
}

.pd-nav-list-item {
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #c1c1c1;
}

.pd-nav-list-item span {
    color: #6c6c6c;
    font-size: 16px;
    margin-left: 6px;
    margin-right: 6px;
}

.pd-nav-list-item {
    cursor: pointer;
    display: inline-block;
    border-right: 1px solid #c1c1c1;
}


/* 第三层文本 */

.copyright {
    position: relative;
    background-color: #3f3e3e;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: #b1b1b1;
}

.pdd-foot-cr {
    padding-top: 27px;
    color: #b1b1b1;
}

.pdd-foot-medicine {
    padding: 17px 0;
}

.pdd-foot-record {
    text-indent: 25px;
}


/* 第四层文本 */

.foot-ft {
    text-align: center;
}

.foot-ft img {
    display: inline-block;
    width: auto;
    height: auto;
    max-height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin: 10px;
}

.big-width {
    max-width: 137px;
}